@import "bootstrap";

body, html {height: 100%; }
.welcome {
  height: 100%;
  padding-top: 20%;
  // padding-bottom: 40%;
}
//--------------------------------------------------------

nav {
  background-color: black;
}
nav ul li {
  list-style-type:none;
  display: inline-block;
  padding: 0px;
}

nav ul li:hover {
  background-color: #222222;
}

nav ul li a {
  color: lightgray;
  padding: 5px 30px;
  display:block;
  line-height: 35px;
}

nav ul li a:hover {
  text-decoration: none;
  color: lightgray;
}

.greeting {
  color: white;
}

.greeting:hover {
  background-color:black;
}

.list-header {
  a {
    font-size: 1.3em;
  }
}

//--------------------------------------------------------
.test {
  border: 1px solid red;
}

.actions-column {
  width: 200px;
}

.content-input {
  min-width: 500px;
}

.center_div{
  margin: 0 auto;
  width: 80%;
}

.tall-input {
  height: 300px;
}

.table {
  margin: 0 auto;
  width: 90%;
}

.place-right {
  float: right;
}

.bottom-buffer {
  margin-bottom: 50px;
}

.center-text {
  text-align: center;
}

.btn-buffer {
  margin: 5px;
}
