@import "bootstrap";

.test {
  border: 1px solid red;
}

.actions-column {
  width: 200px;
}

.content-input {
  min-width: 500px;
}

.center_div{
  margin: 0 auto;
  width: 80%;
}

.tall-input {
  height: 300px;
}

.table {
  margin: 0 auto;
  width: 90%;
}

.place-right {
  float: right;
}

.bottom-buffer {
  margin-bottom: 50px;
}

.center-text {
  text-align: center;
}

.btn-buffer {
  margin: 5px;
}
